@import url(https://fonts.googleapis.com/css2?family=Muli:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Muli', sans-serif;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  max-width: 800px;
  margin: 100px auto;
}
